{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-5 content2">
                <img class="rounded mx-auto d-block img_about" src="{{ asset('image/profil.jpg') }}"/>
            </div>
            <div class="col-6 content3">
                <p class="italic">Bonjour</p>
                <hr class="linebold line2"></hr>
                <p class="text-justify">Lorem ipsum dolor sit amet. Eum tenetur officiis cum asperiores magnam id voluptatem galisum ea magnam doloremque eos ullam quis. Aut sunt similique est blanditiis dolorem non placeat praesentium ea rerum alias est vitae laudantium et placeat minus qui modi voluptatum. Et laborum molestiae et provident veritatis non tenetur doloribus. Et dolorem temporibus et assumenda vitae et quia provident est nesciunt rerum eum porro Quis ea cumque cupiditate 33 quos asperiores! Ut aspernatur illum in quibusdam odio aut voluptatibus aperiam qui asperiores.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
